default:
  suites:
    default:
      paths:
        - "%paths.base%/tests/features"
      contexts:
        - Drupal\DrupalExtension\Context\ConfigContext
        - Drupal\DrupalExtension\Context\MinkContext
        - Drupal\DrupalExtension\Context\MarkupContext
        - Drupal\DrupalExtension\Context\MessageContext
        - Drupal\DrupalExtension\Context\DrupalContext
        - NuvoleWeb\Drupal\Tests\Behat\TestContext
        - NuvoleWeb\Drupal\DrupalExtension\Context\DrupalContext
        - NuvoleWeb\Drupal\DrupalExtension\Context\ContentContext
        - NuvoleWeb\Drupal\DrupalExtension\Context\CKEditorContext
        - NuvoleWeb\Drupal\DrupalExtension\Context\ResponsiveContext:
            devices:
              mobile_portrait: 360x640
              mobile_landscape: 640x360
              tablet_portrait: 768x1024
              tablet_landscape: 1024x768
              laptop: 1280x800
              desktop: 2560x1440
        - NuvoleWeb\Drupal\DrupalExtension\Context\PositionContext
        - NuvoleWeb\Drupal\DrupalExtension\Context\VisibilityContext
        - NuvoleWeb\Drupal\DrupalExtension\Context\SelectFieldContext
        - NuvoleWeb\Drupal\DrupalExtension\Context\ChosenFieldContext
        - NuvoleWeb\Drupal\DrupalExtension\Context\ScreenShotContext
        - NuvoleWeb\Drupal\DrupalExtension\Context\TaxonomyTermContext
        - NuvoleWeb\Drupal\DrupalExtension\Context\ServiceContainerContext
      filters:
        tags: "~@wip"
  extensions:
    Drupal\MinkExtension:
      browserkit_http: ~
      ajax_timeout: 10
      browser_name: 'chrome'
      selenium2:
        wd_host: 'http://selenium:4444/wd/hub'
        capabilities:
          browser: 'chrome'
          version: "*"
          chrome:
            switches:
              - "--headless"
              - "--disable-gpu"
              - "--start-maximized"
      javascript_session: selenium2
      base_url: "${drupal.base_url}"
    NuvoleWeb\Drupal\DrupalExtension:
      services: "tests/my_services.yml"
      api_driver: "drupal"
      drupal:
        # Change this to the absolute path to Drupal install.
        drupal_root: "${drupal.root}"
      region_map:
        left sidebar: "#sidebar-first"
        content: "#content"
      selectors:
        error_message_selector: '.messages--error'
      text:
        node_submit_label: "Save"
  formatters:
    progress: ~
