drupal:
  root: "build"
  base_url: "http://nginx"
  site:
    profile: "minimal"
    existing_config: TRUE
  database:
    host: ${env.DB_HOST}
    port: ${env.DB_PORT}
    name: ${env.DB_NAME}
    user: ${env.DB_USER}
    password: ${env.DB_PASSWORD}
  settings:
    settings:
      config_sync_directory: "../tests/config/sync"

commands:
  drupal:site-setup:
    - { task: "run", command: "drupal:drush-setup" }
    - { task: "run", command: "drupal:settings-setup" }
    - { task: "run", command: "setup:behat" }
    - { task: "run", command: "setup:phpunit" }
  setup:behat:
    - { task: "process", source: "behat.yml.dist", destination: "behat.yml" }
  setup:phpunit:
    - { task: "process", source: "phpunit.xml.dist", destination: "phpunit.xml" }
